<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
<title>TRunner</title>
<link rel="stylesheet" href="[% request.uri_base %]/css/style.css" />
<link rel="stylesheet" href="[% request.uri_base %]/css/formly.min.css" type="text/css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="[% request.uri_base %]/javascripts/formly.min.js"></script>
</head>
<body>
  <div id="page">
    <div id="sidebar">
     <ul id="sidebar-items">
     </ul>
    </div>

    <div id="content">
[% config.name %]
    <div>
       <form action="[% request.uri_base %]/test-runner" id="form" title="Selenium Test Runner">
       <input type="hidden" name="test" value="[% request.uri_base %]/test-suite" />
       <input type="hidden" name="resultsUrl" value="[% request.uri_base %]/post-results" />
       <p><input type="checkbox" name="auto" value="true" /> 자동테스트 시작</p>
       [% IF config.smolder.server %]
       <p><input type="checkbox" name="post" value="true" /> 테스트결과를 전송</p>
       [% ELSE %]
       <p><input type="checkbox" name="post" value="true" disabled /><strike> 테스트결과를 전송</strike></p>
       <span>Smolder 서버의 설정정보를 찾을 수 없어, 테스트결과를 전송할 수 없습니다.</span>
       [% END %]
       <input type="submit" value="브라우저 테스트화면으로" />
       </form>
      </div>

<script>
$(document).ready(function() {
  $('#form').formly({'onBlur':false, 'theme':'Light'});
});
</script>

      </div>
  </div>
</body>
</html>
