<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="[% config.selenium.base %]" />
<title>[% tcase.title %]</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3"><h2>[% tcase.title %]</h2><p>[% tcase.description %]</p></td></tr>
</thead><tbody>
[% FOREACH t IN tcase.tests %]
 <tr>
  <td>[% t.0 %]</td><td>[% t.1 %]</td><td>[% IF t.2 %][% t.2 %][% END %]</td>
 </tr>
[% END %]
</tbody>
</table>
</body>
</html>
